h1
{
    text-align: center;
    font-size: 48px;
    background-color: #b4b9ae;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, .link {
    font-style: italic;
    font-size: 26px;
}


.description, ol, ul
{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

